header {
  width: 100%;
  padding: 0 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
}
header .logo-section {
  width: 120px;
}
header .logo-section img {
  width: 100%;
}
header .desktop-nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 40px;
}
header .desktop-nav > ul a {
  color: #2f2f2f;
  font-weight: bold;
  text-decoration: none;
}
header .desktop-nav ul .about-item {
  color: #2f2f2f;
  font-weight: bold;
  text-decoration: none;
}
header .desktop-nav ul .about-list {
  position: relative;
}

header .desktop-nav ul .about-list .about-sub-menu {
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16),
    0 2px 10px 0 rgba(255, 255, 255, 0.12);
  list-style: none;
  padding: 0;
  position: relative;
}
header .desktop-nav ul .about-list:hover .about-sub-menu li {
  width: 100px;
  height: 80px;
}

header .desktop-nav ul .about-list .about-sub-menu li {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 0;
  left: -36%;
}
header .desktop-nav ul .about-list .about-sub-menu a {
  background-color: #222;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
header .desktop-nav ul .about-list .about-sub-menu a:hover {
  background-color: #555;
}

header .mobile-nav {
  display: none;
}

header main {
  width: 100%;
}

@media screen and (max-width: 860px) {
  header .desktop-nav {
    display: none;
  }
  header .mobile-nav {
    display: block;
  }
  header .mobile-nav .hamburger-button {
    cursor: pointer;
    font-size: 3rem;
  }
  header .mobile-nav ul {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    width: 300px;
    height: 100vh;
    list-style: none;
    padding: 100px 0 0;
    margin: 0;
    display: none;
  }
  header .mobile-nav ul.active {
    display: block;
  }
  header .mobile-nav ul li,
  header .mobile-nav ul li .about-item {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  header .mobile-nav ul li a,
  header .mobile-nav ul li .about-item {
    display: block;
    background-color: #444;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  header .mobile-nav ul .acordion-item {
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    height: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  header .mobile-nav ul .acordion-item.clicked {
    height: 60px;
    padding: 20px;
    padding-left: 40px;
    border-bottom: 1px solid #fff;
  }

  header .mobile-nav ul .remove-btn {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 40px;
    right: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .section4 .review-container .review-item {
    width: 300px;
  }
}
