html {
  font-family: 'NanumSquareAc', sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fff;
}
header {
  width: 100%;
  padding: 0 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
}
header .logo-section {
  width: 120px;
}
header .logo-section img {
  width: 100%;
}
header .desktop-nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 40px;
}
header .desktop-nav > ul a {
  color: #2f2f2f;
  font-weight: bold;
  text-decoration: none;
}
header .desktop-nav ul .about-item {
  color: #2f2f2f;
  font-weight: bold;
  text-decoration: none;
}
header .desktop-nav ul .about-list {
  position: relative;
}

header .desktop-nav ul .about-list .about-sub-menu {
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16),
    0 2px 10px 0 rgba(255, 255, 255, 0.12);
  list-style: none;
  padding: 0;
  width: 200px;
  position: relative;
}
header .desktop-nav ul .about-list:hover .about-sub-menu li {
  height: 80px;
}

header .desktop-nav ul .about-list .about-sub-menu li {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 0;
  left: -36%;
}
header .desktop-nav ul .about-list .about-sub-menu a {
  background-color: #222;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
header .desktop-nav ul .about-list .about-sub-menu a:hover {
  background-color: #555;
}

header .mobile-nav {
  display: none;
}

/* header .language-wrapper a {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

header .language-wrapper a:hover {
  background-color: #555;
}
header .language-wrapper a:active {
  background-color: #222;
} */

header main {
  width: 100%;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 40px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  min-height: 100vh;
}

.section1 {
  position: relative;
  width: 100%;
  padding-top: 60%; /* 부모의 너비에 대한 비율로 높이 지정 */
  overflow: hidden; /* 컨테이너를 벗어나는 영상 부분을 숨김 */
}

.section1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 영상이 항상 콘테이너에 맞게 조정 */
}
.section1 .opacity-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.section1 .title-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px #ffffff;
}

.section2 {
  width: 100%;
  background-color: #22292d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 .order-description-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-around;
  gap: 40px;
}

.section2 h2 {
  padding-top: 20px;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}

.section3 {
  background-color: #fbf3ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3 .slide-container {
  max-width: 1240px;
  margin: 100px auto;
  overflow: hidden;
}

.section3 .btn-wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section3 h2 {
  text-align: center;
  color: #ff66c4;
}

.section3 .btn-wrapper button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section3 .btn-wrapper button:hover {
  background-color: #555;
}
.section3 .btn-wrapper button:active {
  background-color: #222;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
  max-width: 1240px;
  margin: 0 auto;
}

.section3 .slider-wrapper .slide {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  algin-items: center;
  justify-content: center;
}
.section3 .slider-wrapper .slide img {
  width: 80%;
  height: auto;
}

.section3 #prevSlide,
.section3 #nextSlide {
  margin-top: 1em;
}

.section4 {
  background-color: #22292d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4 h2 {
  color: #fff;
  text-align: center;
}

.section4 .review-container {
  position: relative;
  max-width: 1280px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.section4 .review-container .review-item {
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.16),
    0 2px 10px 0 rgba(255, 255, 255, 0.12);
  width: 400px;
  padding: 30px;
}

.order-description img {
  width: 100%;
}

.order-description .order-section {
  display: flex;
  align-items: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.footer a {
  margin: 0 10px;
}

.footer img {
  width: 40px;
  height: 40px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 860px) {
  header .desktop-nav {
    display: none;
  }
  header .mobile-nav {
    display: block;
  }
  header .mobile-nav .hamburger-button {
    cursor: pointer;
    font-size: 3rem;
  }
  header .mobile-nav ul {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    width: 300px;
    height: 100vh;
    list-style: none;
    padding: 100px 0 0;
    margin: 0;
    display: none;
  }
  header .mobile-nav ul.active {
    display: block;
  }
  header .mobile-nav ul li,
  header .mobile-nav ul li .about-item {
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  header .mobile-nav ul li a,
  header .mobile-nav ul li .about-item {
    display: block;
    background-color: #444;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  header .mobile-nav ul .acordion-item {
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    height: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  header .mobile-nav ul .acordion-item.clicked {
    height: 60px;
    padding: 20px;
    padding-left: 40px;
    border-bottom: 1px solid #fff;
  }

  header .mobile-nav ul .remove-btn {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 40px;
    right: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .section4 .review-container .review-item {
    width: 300px;
  }
}
